packages/

Debug/

Release/

bin/

*.csproj.user

*.suo

/src/Uncas.NowSite.Web/Scripts/

*~

/src/VersionInfo.cs

output/

/scripts/private.ps1
/src/data/
/src/Uncas.NowSite.Web/Web.appSettings.config

/src/Uncas.NowSite.Web/Views/Home/CommitHistory.cshtml
