<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.10" targetFramework="net40" />
  <package id="Dapper.Rainbow.SQLite" version="0.1.2" targetFramework="net40" />
  <package id="Google.GData.Client" version="2.1.0.0" targetFramework="net40" />
  <package id="Google.GData.Extensions" version="2.1.0.0" targetFramework="net40" />
  <package id="Google.GData.Photos" version="2.1.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.7" targetFramework="net40" />
  <package id="SimpleCqrs" version="1.0" targetFramework="net40" />
  <package id="SimpleCqrs.EventStore.File" version="1.0" targetFramework="net40" />
  <package id="SimpleCqrs.Utilities" version="1.0" targetFramework="net40" />
  <package id="System.Data.SQLite" version="1.0.81.0" targetFramework="net40" />
  <package id="Uncas.Core" version="1.1.0.154" targetFramework="net40" />
</packages>