@{
    ViewBag.Title = "uncas.dk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Velkommen til uncas.dk</h2>
<div>
    Denne webside tilhører Ole Lynge Sørensen.
</div>
<h4>
    Other sites</h4>
<ul>
    <li><a href="http://olelynge.blogspot.com">Blog</a></li>
    <li><a href="http://www.fyldepennen.dk/forfatter/?id=609">Digte</a></li>
</ul>
<div>
    <h4>
        Software development</h4>
    <ul>
        <li><a href="http://stackoverflow.com/users/41094/ole-lynge">stackoverflow</a></li>
        <li><a href="http://github.com/uncas">GitHub</a></li>
        <li><a href="http://nuget.org/profiles/uncas">NuGet</a></li>
    </ul>
</div>