@model IEnumerable<Uncas.NowSite.Web.Models.ReadStores.BlogPostReadModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Blog posts</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>
            <h3>
                @Html.DisplayFor(modelItem => item.Title)
            </h3>
            <div>
                @Html.DisplayFor(modelItem => item.Content)
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div>
                    @Html.ActionLink(
                        "Edit",
                        "Edit",
                        new { Controller = "BlogPost", id = item.Id })
                    @using (Html.BeginForm(
                        "Delete", 
                        "BlogPost", 
                        new { id = item.Id }))
                    {
                        <input type="submit" value="Delete" />
                    }
                </div>
            }
        </li>
    }
</ul>