@{
    ViewBag.Title = "uncas.dk";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var items = new List<dynamic>();
    items.Add(new
        {
            Url = "http://olelynge.blogspot.com",
            Title = "Blog",
            Description = "Blog om programmering mm."
        });
    items.Add(new
        {
            Url = "http://stackoverflow.com/users/41094/ole-lynge",
            Title = "Stackoverflow",
            Description = "Spørgsmål og svar om programmering"
        });
    items.Add(new
        {
            Url = "http://github.com/uncas",
            Title = "Github",
            Description = "Kildekode"
        });
    items.Add(new
        {
            Url = "http://nuget.org/profiles/uncas",
            Title = "Nuget",
            Description = "Nuget-pakker"
        });
    items.Add(new
    {
        Url = "http://zen.uncas.dk",
        Title = "Zen",
        Description = "CSS-eksperiment"
    });
    items.Add(new
    {
        Url = "https://picasaweb.google.com/107484842923823327426",
        Title = "Billeder",
        Description = "Billeder på Picasa"
    });
    items.Add(new
    {
        Url = "http://www.youtube.com/user/UncasOle/videos",
        Title = "Videoer",
        Description = "Videoer på youtube"
    });


}
<h2>
    Velkommen til uncas.dk</h2>
<div>
    Mit navn er Ole Lynge Sørensen. Dette websted indeholder dels links til websteder
    hvor jeg har tilføjet indhold, dels diverse øvrig funktionalitet.
</div>
<div>
    <h3>
        Andre websteder</h3>
    <ul id="items">
        @foreach (dynamic item in items)
        {
            <li>
                <div class="link">
                    <a href="@item.Url">@item.Title</a></div>
                <div class="description">@item.Description</div>
            </li>
        }
    </ul>
</div>
