@model Uncas.NowSite.Web.Models.InputModels.EditBlogPostInputModel
@foreach (var picture in Model.Pictures)
{
    <a href="@picture.PictureUrl" class="BlogPostPicture">
        <img src="@picture.PictureUrl" alt="Blog post picture" />
    </a>
}