body
{
    background-color: #FFFFFF;
    color: #000000;
    margin: 0 auto;
    padding: 0 1em;
    width: 65em;
}

header, footer, nav, section
{
    display: block;
}

#header, #content, #footer
{
    padding: 0.2em;
}

#header
{
    background-color: #FFE6E6;
    color: #000000;
    padding: 0 1em 1em;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}


.BlogPostPicture img
{
    height: 15em;
}


ul
{
    margin: 0;
    padding: 0;
}

ul#menu li
{
    display: inline;
    list-style-type: none;
    margin: 0.3em;
}

ul#menu li a
{
    background-color: #CFCFCF;
    line-height: 4em;
    margin: 0.3em;
    padding: 1em;
    text-decoration: none;
    width: 50px;
}

ul#menu li a:hover
{
    background-color: #DFDFDF;
}



ul#items li
{
    border: solid 1px #CFCFCF;
    list-style-type: none;
    margin: 0.3em;
}

ul#items li div
{
    display: inline;
}

ul#items li a
{
    background-color: #CFCFCF;
    line-height: 4em;
    margin: 0.3em;
    padding: 1em;
    text-decoration: none;
}

ul#items li a:hover
{
    background-color: #DFDFDF;
}


ul#commits li
{
    list-style-type: none;
    padding: 0 0 1em 0;
}

ul#commits li div.subject
{
    padding: 0.5em;
}